services:
  streamlit:
    build: .
    command: streamlit run codes/streamlit_board_game_qa.py --server.port 8000 --server.address 0.0.0.0
    ports:
      - "8000:8000"
    volumes:
      - ./data/board_game_rules:/app/data/board_game_rules
      - ./data/chroma:/app/data/chroma
    environment:
      - PDF_PATH=/app/data/board_game_rules
      - CHROMA_PATH=/app/data/chroma
      - OLLAMA_API_BASE=http://ollama:11434
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    command: >
      bash -c "ollama pull llama3.2 && ollama pull mistral && ollama serve"
 

volumes:
  ollama_data: {}    
